* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Spectral', serif;
}

.top-banner {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/donation13.jpg);
    background-position: center;
    background-size: cover;
    position: relative;


}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.text-box h1 {
    font-size: 60px;
}

.text-box p {
    margin: 10px 0 25px;
    font-size: 20px;
    color: #fff;
}

.Container {
    text-align: center;
}

.link-button {
    text-decoration: none;
    font-size: 20px;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 400;
    color: whitesmoke;




}

.amount-cunt {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 40px;
    font-weight: 600;
}

p {
    color: rgb(39, 11, 11);
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px;
}

.row-line {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.colum-line {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 7px;
    margin-bottom: 10%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.10;

}

h3 {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin: 10px o;
}

.colum-line:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

#detar-back-one {
    background-color: rgb(193, 229, 217);
}

#detar-back-two {
    background-color: rgb(221, 206, 222);
}

#detar-back-three {
    background-color: rgb(242, 244, 204);

}

h2 {
    font-size: 35px;

}

.lang-content {
    margin: 10px;
    padding: 25px;
}

.depend-donation {
    display: flex;
    margin-bottom: 100px;

}

.contri-notion {
    width: 50%;
    padding-left: 6%;


}

.contri-notion img {
    width: 80%;
}

.Link-button {
    text-decoration: none;
    margin: 18px 10px;
    font-size: 25px;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 400;
    color: whitesmoke;

}

.status-regular {
    width: 80%;
    margin: auto;
    font-size: 30px;
    text-align: center;
    padding-top: 100px;

}

.section-title {
    font-size: 35px;
    text-align: center;
}

.article {
    display: flex;
}

.article h1 {
    font-size: 30px;
}

.article div {
    width: 50%;
}

.article img {
    width: 90%;
}

.article p {
    width: 80%;
    padding-left: 55px;
    padding-bottom: 40px;
    margin: 10px;
    text-align: center;
}

form {
    background-color: #FFF4D6;
    width: 40%;
    padding: 2%;
    text-align: center;
    margin-left: 25%;
    margin-right: 5%;
    justify-content: center;
}

#subscribe {
    color: white;
    border-radius: 5%;
    background-color: #FD5959;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 0;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

#mail {
    padding: 16px 16px 16px 16px;
    border: 0;
    background-color: gainsboro;
}

.end-demand {
    background-color: black;
    color: #fff;

}

h4 {
    text-align: center;



}

#input-amount {
    width: 40%;
    border-top: 0px;
    border-left: 0;
    border-right: 0;
    text-align: center;
    padding: 10PX;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: justify;
    font-size: 15px;
}

.container>div {
    background-color: rgb(211, 177, 177);
    margin: 20px;
    padding: 30px;
}